@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    --primary-color: #000;
    --secondary-color: #A3AED0;
    --dark-color: #06152B;
    --grey-color: #384455;
    --light-color: #809FB8;
    --bg-color: #fff;
    --bg-light-color: #F8FAFD;
    --border-color: #D9E1E7;
    --required-color: #F00;
    --btn-light-color: #FEFEFE;
    --btn-primary-color: #5D5FEF;
    --btn-border: #E3E3E3;
    --btn-danger-bg: rgba(234, 58, 61, 0.40);
    --btn-danger-color: #EA3A3D;
    --success-color: #00C966;
    --text-danger: #DE202C;
    --eng-score-thead: #F9FAFB;
    --eng-score-thead-text: #ACACAD;

}

.btn-primary {
    background: var(--btn-primary-color);
    color: var(--bg-color);
    display: flex;
    /* width: 81px; */
    height: 44px;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    border: 1px solid var(--btn-border);

}

.btn-secondary {
    background: var(--bg-color);
    display: flex;
    width: 104px;
    height: 44px;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--btn-border);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* ----------------Home Page--------------------------  */

.card {
    width: 100%;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--border-color);
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin: 0 auto;
}

.card-head {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.card-nums {
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.div-card {
    flex-shrink: 0;
    border-radius: 20px;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    background: var(--Secondary-Primary-White, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}

.header-section {
    padding: 1.5rem 1.5rem 0;
}

.db-cards-title {
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.a-link {
    color: var(--btn-primary-color)
}

.activity-text {
    color: var(--Gray-400, #7A7A7A);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.468px;
}

.activity-no {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 20.624px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.394px;
    letter-spacing: -0.693px;
    padding-left: 14px;
}

.donut {
    height: 250px !important;
}

/* ---------------------------------------------------------------- */

/* -----------------Subscriber Page---------  */

.subs-div {
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background: var(--Secondary-Primary-White, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}

.table-cell-py td {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    color: #585858;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

b {
    color: var(--primary-color);
}

.cards-percent {

    font-family: Poppins;
    font-size: 15.806px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.758px;
}

.text-success {
    color: var(--success-color) !important;
}

.text-danger {
    color: var(--text-danger) !important;
}

.comparison-text {
    color: rgba(28, 28, 28, 0.30);
    font-family: Poppins;
    font-size: 16.545px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.758px;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.search-container .search-icon {
    position: absolute;
    left: 10px;
    top: 46%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-container input.tableSearch {
    width: 100%;
    padding: 6px 8px 8px 36px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 13px;
}

.toggle-container {
    display: flex;
    background-color: #eee;
    border-radius: 30px;
    padding: 2px;
}

.toggle-option {
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--grey-color);
    transition: all 0.3s ease;
}

.toggle-option.active {
    background-color: var(--bg-color);
    color: var(--primary-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}



/* ------------------------------Settings------------------------------- */
.nav-pills .nav-link {
    border-radius: 0;
    padding: 1rem;
    transition: all 0.3s ease;
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: var(--btn-primary-color);
    border-left: 4px solid var(--btn-primary-color);
    font-weight: bold;
    background: linear-gradient(to right, #eee 5%, transparent 20%);
}

.tab-content>.tab-pane {
    padding: 1rem;
}

.tabs-card {
    border-radius: 12px;
    overflow: hidden;
    display: flex;
}

.nav-pills {
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 19px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: 1px solid var(--border-color);
}

.tab-wrapper {
    flex: 1;
    background-color: var(--bg-color);
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: 1px solid var(--border-color);
}

.settings-title {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.settings-sub-title {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-text {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.password-text {
    color: var(--light-color);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----------------------------Analytics Page----------------------------------------------------- */

.eng-score-thead {
    background: var(--eng-score-thead);
    color: var(--eng-score-thead-text);
    text-align: center;
    font-family: Poppins;
    font-size: 16.03px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.038px;
    text-transform: uppercase;
}

.eng-score-thead th {
    padding: 30px 10px;
}

.eng-score-tr td {
    padding: 25px 10px;
    text-align: center;
}

.hot {
    color: #227DFF;
    background: #92BFFF24;
    padding: 10px 35px;
}

.warm {
    color: #098400;
    background: #09840024;
    padding: 10px 25px;
}

.cold {
    color: #FF7700;
    background: #FF770024;
    padding: 10px 30px;
}

/* ------------------------------------------------------------------------     */
@media (max-width: 1200px) {
    .subscriber-toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    .chart-container {
        height: 350px;
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .table-responsive {
        font-size: 0.875rem;
    }

    .table th,
    .table td {
        padding: 0.75rem 0.5rem;
    }

    .header-section {
        padding: 1rem 1rem 0;
    }

    .table-container {
        padding: 0 1rem 1rem;
    }

    .chart-container {
        height: 300px;
        padding: 1rem;
    }
}